body{
    background-color: white;
}

h1{
    text-align: center;
    padding: 20px;
    margin: 2px;
    background-color: blueviolet;
    border-style: line;
}

.image{
    max-width: fit-content; 
    height:300px;
}

h3{
    padding: 10px;
    background-color: blueviolet;
}

nav{
    background-color: blueviolet;
    padding: 10px;  
}

.container {
    display: flex;
    padding: 20px;
    margin: 10px ;
}

@media screen and (max-width:800px) {
    
}

footer{
    text-align: center;
    color: black;
    padding: 30px;
    background-color: rgb(240, 251, 255)251, 255);
}

