body{
    background-color: white;
}

h1{
    text-align: center;
    padding: 20px;
    margin: 2px;
    background-color: blueviolet;
    border-style: hidden;
}

.img{
    width: 500px; 
    height: 333px;
}

nav{
    background-color: blueviolet;
    box-sizing: border-box;
    padding: 20px;
    font-color: black;
}

@media screen and (max-width:800px) {
    
}

footer{
    text-align: center;
    color: black;
    padding: 30px;
    background-color: rgb(240, 251, 255)251, 255);
}

